

* {
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height:100vh;
	overflow: hidden;
}
#box {
	width: 100%;
	height: 100vh;
	background: url(../img/bg.jpg);
	background-size: 100%;
	background-position-y: 0%;  /* 先将图片挪动到顶部，以便于能够往下落 */
}
.me{
	width:60px;
	height:70px;
	background:url(../img/me.png)no-repeat;
	background-size:100%;
	position:absolute;
	left:50%;
	top:500px;
}
.dadada{
	width:7px;
	height:18px;
	background:url(../img/bullet.png)no-repeat;
	background-size:100%;
	position: absolute;
	left: 50%;
	top:480px;
	margin-left:27px;
}
.enemy{
	width: 62px;
	height: 36px;
	background:url(../img/plain1.png)no-repeat;
	background-size:100%;
	position: absolute;
}
.enemy2{
	width: 65px;
	height: 82px;
	background:url(../img/plain2.png)no-repeat;
	background-size:100%;
	position: absolute;
}
.enemy3{
	width: 79px;
	height: 120px;
	background:url(../img/plain3.png)no-repeat;
	background-size:100%;
	position: absolute;
}
